{{> menu active="about"}}

<section class="hero">
    <div class="hero-body has-text-centered">
        <p class="title ">
            Trailtime : Organise and manage walking trails! </p>
        <p class="box">
            <i class="fas fa-hiking fa-10x" style="color:darkorange"></i>
            <i class="fas fa-hiking fa-4x" style="color:deepskyblue"></i>
            <i class="fas fa-hiking fa-10x" style="color:gold"></i>
        </p>
    </div>
</section>