<form action="/dashboard/addtraillist" method="POST">
    <div class="field">
        <label class="label">Traillist Title</label> <input class="input" type="text" placeholder="Enter traillist name" name="name">
    </div>
    <button class="button is-link">Add Traillist</button>
</form>